<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">


	<!-- <bean id="camera" class="org.oguz.spring.aop.Camera"></bean> <bean 
		id="logger" class="org.oguz.spring.aop.Logger"></bean> -->

	<!-- <aop:config> <aop:pointcut expression="execution(void org.oguz.spring.aop.Camera.snap())" 
		id="camerasnap" /> <aop:aspect ref="logger" id="loggeraspect"> <aop:before 
		method="aboutToTakePhoto" pointcut-ref="camerasnap" /> </aop:aspect> </aop:config> -->


	<context:annotation-config></context:annotation-config>

	<context:component-scan base-package="org.oguz.spring.aop.camera"></context:component-scan>
	<aop:aspectj-autoproxy proxy-target-class="false"></aop:aspectj-autoproxy>
</beans>
